<div id="middle">
	<div class="container">
		<div class="row"> 

			<div class="col-sm-6 col-md-4"> 
				<div class="thumbnail"> 
					<img src="/betabase_alfa/app/img/watson.png" class="img-thumbnail"> 

					<div class="caption"> 
						<h3>IBM WATSON</h3> 
						<p>O Watson já cobre cerca de uma dúzia de APIs diferentes que ajudarão você a entender imagens, som e texto. 
							Algumas dessas APIs são: a API de reconhecimento visual, a Tone Analyzer API e a API Explorer do Watson. 
							Você insere seu conjunto de treinamento e, em seguida, a API aprende o suficiente para começar a responder perguntas.</p> 
						<p><a href="https://www.ibm.com/watson" class="btn btn-primary" role="button">Saiba Mais</a> 
					</div> 
				</div> 
			</div> 

			<div class="col-sm-6 col-md-4"> 
				<div class="thumbnail"> 
					<img src="/betabase_alfa/app/img/webdam.jpg" class="img-thumbnail"> 
					<div class="caption"> 
						<h3>Webdam Rest</h3> 
						<p>Oferecendo armazenamento em nuvem seguro com um fluxo de trabalho moderado e organizado. 
						   As fotos e os trabalhos de arte chegam dos criadores como arquivos, mas eles se tornam "ativos" 
						   dentro do sistema à medida que passam pela cadeia de aprovação dos anúncios, sites e folhetos que definem uma marca.
						   A API Webdam permite que você aproveite seu próprio código interno e confie no Webdam como o sistema de arquivos que armazena e organiza suas imagens.</p> 
						<p><a href="https://www.damsuccess.com/hc/en-us/articles/202134055-REST-API" class="btn btn-primary" role="button">Saiba Mais</a> 
					</div> 
				</div> 
			</div> 
			
			<div class="col-sm-6 col-md-4"> 
				<div class="thumbnail"> 
					<img src="/betabase_alfa/app/img/amazon.JPG" class="img-thumbnail"> 
					<div class="caption"> 
						<h3>BlazingText</h3> 
						<p>O algoritmo BlazingText do Amazon SageMaker ajuda a compreender as palavras, marcando o texto com dados que descrevem como a palavra foi usada anteriormente. Você insere texto bruto e recupera um vetor de significado semântico e classificação de entidade que pode ser usado para análise de sentimento. Se você quiser mais poder computacional, os algoritmos podem rodar mais rápido em máquinas com múltiplos núcleos e GPUs.
						</p> <p><a href="https://docs.aws.amazon.com/sagemaker/latest/dg/blazingtext.html" class="btn btn-primary" role="button">Saiba Mais</a>
					</div> 
				</div> 
			</div>  

		</div>
	</div>
</div>